.carts {
    &__image {
        height: 110px;
        min-width: 110px;
        background-size: cover;
        background-position: center center;

        &--sm{
            height:80px
        }
    }

    &__inputGroup {
        width: 145px;
    }
}

.carts__control {
    width: 145px;
}

.carts__msgBox {
    @include media-breakpoint-up(md) {
        background-color: theme-color("primary");
        color: white;
    }
}
.carts__msgTitle {
    background-color: $primary-200;
    color: theme-color("primary");
    font-weight: bold;
    @include media-breakpoint-up(md) {
        background-color: theme-color("primary");
        color: white;
    }
}
